/* Layout */

body {
  height: calc(100vh - 20px);
  margin: 10px;
  box-sizing: border-box;
}

#container {
  display:flex;
  min-height: 100%;
  flex-direction: column;
  align-items:stretch;
}

.flexitem {
  flex-grow:1;
  flex-shrink:1;
  flex-basis:auto;
  justify-content: flex-start;
}

.flex-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

#controller {
  margin-bottom: 10px;
}

#map-container {
  position:relative;
  min-height: 400px;
}

#map {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

/* Toolbar Layout */

#toolbar {
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
}

/* Text Layout */
body {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-size: 100%;
}

h1 {
  font-size: 125%;
}

h2 {
  font-size: 110%;
}
